body {
    background-color:;
    margin: 0;
    padding: 0;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 30px;
    color: #4b4b4b;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

li {
    font-size: 30px;
    
}

input{
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 3px 10px;
    margin-bottom:10px;
    font-family: 'East Sea Dokdo', cursive;
    background-color: rgba( 255, 255, 255, 0 );
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

button {
    border: none;
    padding-left: 10px;
    padding-right: 0px;
    background-color: rgba( 255, 255, 255, 0 );
}

h1{
    font-weight: normal;
    margin: 0;
}

h4 {
    font-weight: normal;
    font-size: 40px;
    margin: 15px;
    color:#3d3d3d;
}

/* nav 영역 */
.nav-bar{
    overflow: hidden;
    background-color: #D3E1EE;
    padding: 15px;
}
.title {
    font-size: 30px;
    line-height: 30px;
}

.nav{
    display: inline-block;
}

.nav-content{
    float: right;
}

/* content 영역 */
.content{
    padding: 30px;
    margin: auto 0;
    text-align: center;
}

.clock{
    font-size: 45px;
}

.toDo{
    width: 800px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    background-color:rgba( 255, 255, 255, 0.55 );
}

.toDoList {
    text-align: center;
    display: flex;
    justify-content: center;
}

.pending,
.finished {
    width: 250px;
}

.form,
.greetings {
    display: none;
    font-size: 40px;
    color:#3d3d3d;
}

.showing {
    display: block;
}


@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    animation: fadeIn .5s linear;
}