body {
  font-family: sans-serif;
}

button {
  color: white;
  background-color: #4b4b4b;
  font-size: 20px;
  border: none;
  margin: 4px;
  padding: 15px;
  border-radius: 10px;
}

input {
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  font-size: 50px;
  border: none;
}

.calculator {
  display: grid;
  /* 한줄에 4개씩 동일한 간격 적용 */
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  color: white;
  padding: 15px;
}

.result {
  /* 첫 번째 선부터 4번째 선까지 지정 */
  grid-column: 1/4;
  padding-right: 20px;
}

.zero {
  /* 첫 번째 선부터 3번째 선까지 지정 */
  grid-column: 1/3;
}

.operator {
  background-color: darkorange;
}

.reset {
  background-color: #aaa69d;
}
